.accordion summary {
  display: flex;
  position: relative;
  line-height: 1;
      padding: 24px 0;
    width: 100%;
  justify-content:space-between;
  align-items:center;
  
}

.accordion .summary__title {
  display: flex;
  flex: 1;
}

.accordion .summary__title + .icon-caret {
  height: calc(var(--font-heading-scale) * 0.6rem);
}

.accordion + .accordion {
  margin-top: 0;
  border-top: none;
}

.accordion {
  margin-top: 2.5rem;
  margin-bottom: 0;
  border-top: 0.1rem solid rgba(var(--color-foreground), 0.08);
  border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.08);
}

.accordion__title {
  display: inline-block;
  max-width: calc(100% - 6rem);
  min-height: 1.6rem;
  margin: 0;
  word-break: break-word;
    font-size: 22px;
    font-weight: 600;
  letter-spacing:0.05rem;
}

.accordion .icon-accordion {
  align-self: center;
  fill: rgb(var(--color-foreground));
  height: calc(var(--font-heading-scale) * 2rem);
  margin-right: calc(var(--font-heading-scale) * 1rem);
  width: calc(var(--font-heading-scale) * 2rem);
}

.accordion details[open] > summary .icon-caret {
  transform: rotate(180deg);
}

.accordion__content {
  margin-bottom: 1.5rem;
  word-break: break-word;
  overflow-x: auto;
  padding: 0 0.6rem;
}

.accordion__content img {
  max-width: 100%;
}
details summary svg.icon.icon-plus{
  height:15px;
  width:15px;
}
details[open] summary svg.icon.icon-plus {
    transform: rotate(45deg);
}
.accordion__content {
    padding-bottom: 30px;
}
.accordion:nth-child(1) {
    border-top: 0;
}