  .announcement-bar {
    padding: 7.5px 0;
}
@media only screen and (min-width: 769px){
.site-header {
    padding: 18px 0;
}
  .announcement-bar {
    font-size: 16px;
    padding: 7.5px 0;
}
  div#shopify-section-template--15705117425836__slideshow .hero__text-shadow {
    left: 0px;
    top: -25px;
}
div#shopify-section-template--15705117425836__16573518799e179780 {
    margin-top: 50px;
}
  a.site-nav__link.site-nav__link--underline {
    display: flex;
    align-items: center;
}
  a.site-nav__link.site-nav__link--underline svg {
    margin-right: 5px;
}
  .rte-setting.text-spacing {
    font-size: 18px;
}
  .hero__subtitle {
    font-size: 24px;
  }
  .rte-setting.text-spacing {
    padding: 0px;
}
  .section-header__title, .section-header.text-center h2 {
    font-size: 34px;
    text-align:center;
}
  h2.fn40 {
    font-size: 34px;
}
  header#SiteHeader .page-width {
    max-width: 100%;
    padding: 0px 40px;
}

}

.bgg.bgg--template--15705117556908__faq .collapsible-trigger--inline {
    padding: 15px 0;
}

button.collapsible-trigger.collapsible-trigger--inline.collapsible--auto-height.text-left:after {
    font-weight: 400 !important;
    top: 13px !Important;
}


@media only screen and (min-width: 769px){
.footer__item-padding.small--hide {
    padding-left: 35px;
}
  .shopify-section.index-section.mb0 {
    margin-top: 120px;
}
  .product__price--compare {
    font-size: 16px;
}
  .product__thumbs--below .product__thumb-item {
    max-width: 25%
  }
}

.cart__item {
    padding-bottom: 0px;
    border-bottom: 0px solid;
}

@media only screen and (min-width: 769px){
.cart__price {
    font-size: 18px;
}

}

.cart__item.small--hide {
    border-bottom: 1px solid rgba(222, 222, 222, 1);
}

.cart__page-col:first-child {
    padding-bottom: 15px;
}

button.btn.cart__checkout {
    width: 241px;
}

@media only screen and (min-width: 769px){
.product__thumbs--below .product__thumb-item {
    max-width: 24%;
}
.cart__item-title {
    flex: 1 1 175%;
}
}

.cart__item-sub.cart__item-row.rb {
    /* flex-flow: nowrap; */
    flex: auto !important;
    justify-content: end;
}
.sbb {
    margin-right: 85px !important;
}

.cart-link__bubble--visible {
    top: -12%;
}
@media only screen and (max-width: 769px){
div#shopify-section-template--15705117753516__165825104534ba9472 {
    margin-top: 60px;
}
  h2.fn40 {
    font-size: 20px;
  }
.section-header.text-center h2 {
    font-size: 26px;
      margin-bottom: 50px;

}
  .bg p {
    letter-spacing: .06rem;
}
}

@media only screen and (min-width: 769px){
.collection-image--square {
    padding-bottom: 113%;
}

}

.feature-row__image {
    width: 100%;
}

.custom__item img {
    width: 100%;
}

@media only screen and (max-width: 769px){
.collection-image--square {
    padding-bottom: 113%;
    border-radius: 15px;
}
.hero__text-content.vertical-center {
    vertical-align: bottom;
    text-align: center;
}
}

@media only screen and (min-width: 769px){
.site-header {
    padding: 16px 0;
}
  .bg .section-header.text-center {
    margin-bottom: 100px;
  }
  .button{
        font-size: 18px;
    line-height: 20px;
    min-width: 241px;
  }
}
.loaded .slideshow__slide.is-selected .hero__link .btn, [data-aos=hero__animation].loaded .hero__link .btn {
    animation: none;
}
.slideshow__slide .hero__link .btn, [data-aos=hero__animation] .hero__link .btn {
    opacity: 1 !important;
    transition: none !important;
}
.announcement-link .announcement-link-text {
    text-decoration: none;
}
.hero__text-content .hero__link a, .footer__newsletter-btn {
    color: var(--colorBtnPrimaryText) !important;
}
span.grid-product__price--savings {
    display: inline-block;
    background: #000;
    color: #fff;
    text-align: center;
    width: 95px;
    text-align: center;
    padding: 7px;
    margin-top: 10px;
    font-size: 16px;
    line-height: normal;
    font-weight: 800;
    border-radius: 15px;
}
.collection-hero__inner {
    padding-top: 20px;
      
}
.collection-hero__inner h2{
  text-align: left;
    color: #6f6d6d;
  font-size:24px;
}
.collection-hero .collection-hero__title {
    margin: 0rem 0;
}
.product__title h1 {
    font-size: 40px;
    margin-bottom: 18px;
}
 .product .price__container{
       font-size: 20px;
 }

.product__info-wrapper .price .price-item {
      color: #1c1d1d;
    font-weight: 100;
}
.product-single-page .slider-button {
    display: none !important; 
}
.product__info-icon_wrap svg {
    height: 25px;
    width: 25px;
}
.product__info-content_wrap {
    color: #000;
    font-size: 14px;
}
.price--on-sale .price-item--regular {
    color: #7c8389 !important;
}
.overlayCard a.full-unstyled-link {
    color: #fff;
}
.costom_rich-text {
    margin: 70px 0 35px;
}
@media(max-width:769px){
  .product__title h1 {
    font-size: 30px;
        margin-bottom: 10px;

}
  .priceBox {
    margin-top: 3px !important;
    margin-bottom: -5px !important;
}
 .product .product__info-wrapper .price__container{
    font-size: 18px;
}
 .product__info-wrapper span.price-item.price-item--sale.price-item--last{
    font-size: 18px;
  }
  .shopify-block.shopify-app-block{
    margin-top:-12px;
    margin-bottom:0;
  }
  body .collection-list h3.card__heading a {
    font-size: 20px;
}
    .collection-hero__inner h2 {
    margin-bottom: 4px;
    font-size: 18px;
}
  .collection-hero .collection-hero__title{
        font-size: 30px;
  }
.productCollectionPage {
    padding-top: 0 !important;
    margin-top: 30px;
}
  .costom_rich-text {
    margin: 0px;
}
  .product__info-wrapper .price .price-item{
    font-size:20px;
  }
}
