:root{
  --iconWeight: 4px;
}
.shopify-section-group-header-group {
    margin-bottom: 0;
}
/* icon */
.header__icon--cart svg {
    width: 22px;
    height: 22px;
}


/* announcement_bar-wrap  */


/* header */

.header-wrapper .list-menu li{
  margin:0;
}



/* .header-wrapper .list-menu li:nth-of-type(2) .header__menu-item{
  padding-left: 28px;
} */

.header-wrapper .mega-menu .header__menu-item {
  border-right: 1.5px solid #656565;
  line-height: 18px;
}
  

.list-menu .header__menu-item {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing:0.025rem;
}

.header-wrapper.header_overlay-home {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 6;
    background: none;
    background: linear-gradient(180deg,rgba(0,0,0,.3) 0%,transparent);
}
.header-wrapper.header_overlay-home .header__menu-item,
.header-wrapper.header_overlay-home .header__menu-item:hover,
.header-wrapper.header_overlay-home .header__active-menu-item,
.header-wrapper.header_overlay-home .header__icon,
.header-wrapper.header_overlay-home .header__heading-link .h2{
  color: #fff;
}
.header-wrapper.header_overlay-home.header-wrapper--border-bottom {
    border-bottom: 0.1rem solid #fff;
}
.header-wrapper.header_overlay-home .mega-menu .header__menu-item {
    border-right: 0.1rem solid #fff;
}
.header-wrapper.header_overlay-home .header__icon--cart svg path{
  fill: #fff;
}
.header-wrapper.header_overlay-home .header__icon--menu svg path {
  stroke: white;
   fill: #fff;
}

.header-wrapper.header_overlay-home .menu-drawer-container.menu-opening .header__icon--menu span {
    background: #fff;
    color: #000;
}


@media screen and (min-width: 990px){
  .header--middle-left.nav__center {
    grid-template-columns: 160px 1fr 160px;
  }
  .header--middle-left.nav__right {
    grid-template-columns: 1fr auto auto;;
  }
  nav.header__inline-menu.nav-center {
    display: flex;
    justify-content: center;
    width: 100%;
  }
   nav.header__inline-menu.nav-right {
     display: flex;
    justify-content: right;
     width: 100%;
  }
  nav.header__inline-menu.nav-left {
    display: flex;
    justify-content: left;
    width: 100%;
  }
}

/* megamenu css */
.custom_mega-menu .mega_menu-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding: 10px 32px;
}  

.mega_menu-wrap .custom_mega-wrap {
    width: 30%;
}

.mega_menu-wrap .mega_menu-collection {
    width: 50%;
    padding-left: 40px;
    padding-right: 40px;
    border-left: 2px solid #f3f3f3;
    border-right: 2px solid #f3f3f3;
}

.mega_menu-wrap .mega_menu-products {
    width: 20%;
}
.mega_menu-products .nav-product-item .item_title {
    text-align: center;
}
.mega_menu-products .nav-product-item span {
  text-align: center;
  display: block;
}

.custom_mega-menu .menu_collection-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.collection__items {
    width: calc(33.33% - 10px);
}

.custom_mega-wrap .store_service-wrap {
    display: flex;
    align-items: center;
    background: #f2f2f2f2;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 35px;
    gap: 10px;
    margin-top: 40px;
}

.custom_mega-wrap .store_service-wrap .menu_icons-wrap {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 33.33%; 
}
.custom_mega-wrap .mega-menu__list .btn {
    color: var(--colorBtnPrimaryText);
}

.custom_menu_wrap img {
    height: 160px;
    width: 160px;
    display: block;
    margin-bottom: 10px;
    object-fit: cover;
    border-radius: 10px;
}
.custom_menu_wrap {
    margin-bottom: 10px;
}
.mega_product-img{
  margin-bottom:10px;
}
.mega_product-img img {
    height: 100%;
    width: 180px;
    display: block;
    margin: auto auto 10px;
    border-radius: 10px;
}
.custom_mega-wrap .store_service-wrap .menu_icons-wrap .menu_text-item {
    text-align: center;
}
.custom_mega-menu .mega_menu-tite {
  text-align: center;
}
.mega_menu-collection .item_title{
  text-align: center;
}
.button.button--primary.mega-menu__link {
    text-align: center;
    width: 100%;
    padding: 11px;
    margin: 15px 0 0;
    font-size: 20px;
    line-height: 30px;
  color: rgb(var(--color-button-text));
}
.menu_icons-wrap .menu_text-item {
    font-size: 12px;
    margin: 5px 0 0;
    line-height: 15px;
    font-weight: 400;
}
.custom_mega-menu .item_title,
.costom_menu-wrapper .item_title{
    margin: 0 0 15px;
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: 700;
    gap: 5px;
    text-decoration: underline;
    letter-spacing: 0;
    text-transform: capitalize;
}
.custom_mega-menu .item_title-wrap{
    display: flex;
    align-items: start;
    justify-content: center;
}
.custom_mega-menu .item_title-wrap svg {
  width: 12px;
  display: inline-flex;
  height: 26px;
}
.custom_mega-menu .collection__items span {
    text-align: center;
    display: block;
}

.aiExperimentDescription {
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: 400;
}
.custom_mega-menu .menu_img svg{
  width: 25px;
  height: 25px;
}
.header-wrapper .list-menu .mega-menu__content .page-width {
    padding:0;
}
.product_features_wrap svg {
    height: 30px;
    width: 30px;
}
.product_features_wrap {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    color: #000;
    font-weight: 300;
}
.collection__view-all a.button.button--secondary:after {
    box-shadow: 0 0 0 calc(var(--buttons-border-width) + var(--border-offset)) #e8e8e1, 0 0 0 var(--buttons-border-width) rgba(var(--color-button), var(--alpha-button-background));
}
.collection__view-all a.button.button--secondary {
    font-weight: 400;
}

@media (max-width: 1199px) {
  .store_service-wrap .menu_text-item {
    font-size: 10px;
  }
}

/* buttons hero slide show */
.slideshow-wrapper .button:before{
  box-shadow: none;
}

.slideshow-wrapper .button:after{
  box-shadow: none;
}

.slideshow-wrapper .button:not([disabled]):hover::after{
  box-shadow: none;
}

/* Hero slideshow */
.hero__title {
  font-style: normal;
}
/* Hero banner mobile section */
.hero_mobile_banner.show--mobile {
  display: none;
  padding:0;
}
.hero_mobile_banner .image-wra{
    width: 450px;
    height: 450px;
    margin: 0 auto 20px;
}
.hero_mobile_banner .image-wra img{
    width: 100%;
    height:100%;
}
.hero_mobile_banner .store_featrues {
    background: #f9f9f9;
    padding: 20px;
    margin: 20px 0 0;
}
.hero_mobile_banner .store_service-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.hero_mobile_banner .menu_icons-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(33.33% - 20px * 2/3)
}
.hero_mobile_banner .menu_icons-wrap .menu_text-item {
    font-size: 14px;
    margin: 0;
    line-height: 19px;
    font-weight: 300;
    text-align: center;
}
.hero_mobile_banner .menu_img svg {
    width: 25px;
    height: 25px;
}
.hero_mobile_banner .theme-block .h1 {
    font-size: 30px;
    line-height: 1.3;
}
.hero_mobile_banner .theme-block .rte p {
    font-size: 18px;
    letter-spacing: -1px;
    line-height: 1.4;
}
.hero_mobile_banner .theme-block {
    margin-bottom: 20px;
}

/* review text */
.rte.clsd.sbh {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}
.rte.clsd {
    max-width: 400px;
    margin: auto;
}
.rte.clsd.sbh img {
    width: 85px;
    margin-right: 8px;
    border: 0;
  margin-bottom:0;
}
.description_colls_wrapper .accordion__content {
    /* padding-bottom: 20px !important; */
    padding: 0 !important;
    padding-bottom: 20px !important;
}
@media only screen and (min-width: 769px) {
  .rte.clsd {
    width: 700px;
    margin: auto;
  }
  .rte.clsd {
    font-size: 18px;
  }
  .slider__slide is-active .product-media-container.constrain-height .media{
        height: 441px;
  }
  .padding-custom{
        margin: 70px 0;
  }
}

/* banner */
/* collection list */
.collection-list.contains-card {
    margin: 0;
}
/* featured collection */
.collection .product-grid.contains-card {
  margin: 0;
}
/* our mission bgg section */
.bgg .theme-block h2.h1 {
    margin-bottom: 40px;
}


/* collection list page  */
.collection-hero.collection-hero--with-image {
    background-repeat: no-repeat;
    background-size: cover;
}
.collection-hero.collection-hero--with-image.overlay_collection-active {
    padding: calc(8rem + var(--page-width-margin)) 0 calc(4rem + var(--page-width-margin));
}
.image-wra img {
    width: 100%;
}
@media(max-width:767px){
 .bg h3, .bg p {
    padding-left: 22px;
    padding-right: 22px;
} 
}
.bg p {
  font-weight:300;
  letter-spacing:0.07rem;
}
@media screen and (min-width: 750px) {
  .collection-hero.collection-hero--with-image.overlay_collection-active {
    padding: calc(8rem + var(--page-width-margin)) 0 calc(4rem + var(--page-width-margin));
  }
}
.facets-container .select .icon-caret {
    top: calc(42%);
}
details.menu-opening .mobile-facets__close svg path {
    stroke-width: 5px;
}
select#SortBy {
    height: 44px;
    font-size: 16px;
    border: 1px #eee solid;
    padding: 0 28px 0 13px;
    letter-spacing: 0;
}
/* Rich text */
/* .costom_rich-text .rich-text__heading.h2 {
  font-size: 18px;
}
.rich-text__text p {
  font-size: 1.8rem;
  line-height: 1.4;
}
h2.title.inline-richtext {
    font-size: 30px;
    line-height: 36px;
  letter-spacing:0;
}
h2.rich-text__heading {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    margin-bottom: 24px;
    letter-spacing: 0px;
} */

/* multicolumn  */
.multicolumn .title-wrapper-with-link {
  margin-bottom: 70px;
}

/* About us page */
.custom-about-us .rich-text__heading.h2:nth-of-type(2) {
    font-style: normal;
    font-size: 32px;
    line-height: 120%;
    margin-bottom: 24px;
}

/* cart page */
.cart-item__image-container img{
  border-radius: 15px;
}
.cart-item__image-container {
  border: 0;
}
/* Option to add title on left */
.leftThetitle {
    text-align: left !important;
    display: flex;
    justify-content: space-between !important;
    align-items: center;
}

.overlayCard .card__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.collection-list h3.card__heading a{
  font-size:32px;
}
.bg-white{
  background-color:#fff;
}
.overlayWhite h3.card__heading a {
    background-color: #fff;
    padding: 10px;
}
.slideshow-wrapper blockquote{
  border-left:0;
  font-style:normal;
}
.btn--outline:after {
    display: none;
}
.btn--outline {
    background-color: #fff;
    border: 1px #eee solid;
    color: #000;
}
.btn--small {
    font-weight: 300;
    font-size: 16px;
    padding: 10px;
    width: 100%;
}
.newsletter-form__field-wrapper .field:after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  background-color:#fff;
  z-index:-1;
}
.newsletter-form__field-wrapper .field__input{
    background-color:#fff;
}
.newsletter-form__button {
    width: 13.4rem !important;
    background-color: rgba(var(--color-button),var(--alpha-button-background)) !important;
    border-radius: 15px;
    color: #fff;
    height: 100%;
    z-index: 2;
    font-size: 17px;
    font-weight: 700;
}
button#Subscribe:after{
  display:none;
}
.copyright__content {
    margin-top: 20px;
}
legend.form__label {
    font-size: 16px;
}
.product__info-item {
    padding-left: 22px;
}
.product__info-block {
    max-width: 100%;
}
.mobile-facets__open-label {
    font-weight: 400;
}
.footerContent  a.button:after,.footerContent  a.button:before {
    display: none;
}
a.button.button--primary {
    color: #fff;
}
.product__media-wrapper .grid {
    column-gap: 0;
}
/* Featured Product */
@media only screen and (min-width: 750px){
.vertical-thumbnails .thumbnail-list.slider--tablet-up .thumbnail-list__item.slider__slide {
    width: 80px;
    height: 80px;
}
.vertical-thumbnails.product__column-sticky {
    padding-left: 110px;
    padding-right: 10px;
}
 .product--thumbnail_slider .vertical-thumbnails .thumbnail-slider {
    position: absolute;
    top: 0;
    flex-direction: column;
    height: 450px;
    left: 0;
}
  .vertical-thumbnails .thumbnail-slider .thumbnail-list.slider--tablet-up{
    flex-direction: column;
  }
}
@media (max-width: 1600px) {
  /* slideshow optional */
  .hero--100vh {
    height: 80vh;
  }
}

@media (max-width: 1366px) {
  /* mega menu */
  .mega_menu-wrap .custom_mega-wrap {
    width: 28%;
  }
  .custom_mega-menu .menu_collection-wrapper {
    gap: 32px;
  }
  .mega_menu-wrap .mega_menu-collection {
    width: 52%;
  }
}

@media (max-width: 1199px) {
   /* slideshow optional */
  .hero--100vh {
    height: 74vh;
  }
  .custom_mega-menu .mega_menu-wrap {
    gap: 20px;
  }
  .mega_menu-wrap .custom_mega-wrap {
    width: 35%;
  }
  .mega_menu-wrap .mega_menu-collection {
    width: 50%;
  }
  .mega_menu-wrap .mega_menu-products {
    width: 15%;
  }
  .mega_menu-wrap .mega_menu-collection {
    padding-left: 30px;
    padding-right: 30px;
  }
  .custom_menu_wrap img {
    height: 100%;
    width: 100%;
  }
  .custom_mega-wrap .store_service-wrap {
    margin-bottom: 30px;
    margin-top: 30px;
  }
}

@media (max-width: 992px) {
  /* slideshow optional */
  .hero--100vh {
    height: 64vh;
  }
  .hero__title {
    font-style: normal;
    line-height: 40px;
    font-size: 30.5px !important;
  }
  .hero__subtitle{
    font-size:18px;
    margin: 10px 0;
  }

  /* Drawer Menu */
  




  /* our mission bgg section */
  .bgg .theme-block h2.h1 {
      margin-bottom: 20px;
  }
  .readmore {
    font-size: 18px;
    margin: 0 0 32px;
  }
}

@media (max-width: 767px) {
  .announcement-bar__message.h5{
    font-size: calc(var(--typeBaseSize) * .75);
    line-height: 19px;
  }
  
  /* menu icons */
  .header__icon, .header__icon--cart .icon {
      height: 3.4rem;
    }
  .menu-drawer-container.menu-opening .header__icon--menu span{
      background: black;
      border-radius: 100px;
      padding: 0px;
      color: white;
      width: 30px;
      height: 30px;
      opacity: 1;
  }
  .menu-drawer-container.menu-opening .header__icon--menu .icon{
    height: 1.4rem;
    width: 1.4rem;
  }
  .menu-drawer-container.menu-opening .header__icon--menu span svg path {
    fill: #fff !important;
    opacity: 1;
  }
  
  /* Hero banner mobile section */
  .hero_mobile_banner.show--mobile {
    display: block;
  }
  .hero_mobile_banner .image-wra{
    width: 100%;
    height: 100%;
    margin: 0 auto 20px;
  }
  .hero_mobile_banner .theme-block .button {
    width: 100%;
  }

  /* About us page */
  .custom-about-us .rich-text__heading.h2:nth-of-type(2) {
      font-size: calc(var(--typeHeaderSize)*.85);
  }
  h2.title.inline-richtext.h2 {
    font-size: 22px;
    line-height: 36px;
  }
   /* Collection Page - BG */
  /* Collection list */
  .collection-list h3.card__heading a {
    font-size: 20px;
}
  button.custom--next,button.custom--prev  {
    transform: rotate(-90deg);
}
  .padding-custom {
    margin: 40px 0;
}

}
.text-left .rte-setting.text-spacing {
    padding: 0;
}
footer.footer {
    border-top: 1px solid #eee !important;
}
@media (max-width: 500px) {
  /* Buttons */
  .drawer_item .button--primary {
    min-width: 100%;
  }
  /* Drawer Menu */
  .costom_menu-content .collection__item {
      width: 100%;
      display: flex;
  }
  .costom_menu-content .collection__item .item-wrap {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 20px;
    font-weight: 700;
  }
   .costom_menu-content .collection__item .custom_menu_wrap {
    max-width: initial;
    height: 100px;
    width: 100px;
    
    border-radius: 5px;
  }
   .costom_menu-content .collection__item .custom_menu_wrap {
     object-fit: cover;
   }
  .drawer_shop-now .customer_review {
    font-size: 18px;
  }
  .product__info-block .product__info-content_wrap {
    font-size: 12px;
}
}
.readMore {
    display: none;
}
/* Footer */
.collection ul#product-grid {
    row-gap: 25px !important;
}
@media(min-width:768px){
  .footer-block.grid__item:nth-child(2), .footer-block.grid__item:nth-child(1) {
    width: calc(25% - var(--grid-desktop-horizontal-spacing) * 3 / 4);
    max-width: calc(25% - var(--grid-desktop-horizontal-spacing) * 3 / 4);
}
.footer-block.grid__item:nth-child(2), .footer-block.grid__item:nth-child(3) {
    width: calc(14% - var(--grid-desktop-horizontal-spacing) * 3 / 4);
    max-width: calc(14% - var(--grid-desktop-horizontal-spacing) * 3 / 4);
}
  .footer-block.grid__item:nth-child(4) {
    width: calc(45% - var(--grid-desktop-horizontal-spacing) * 3 / 4);
    max-width: calc(45% - var(--grid-desktop-horizontal-spacing) * 3 / 4)
}
  .footer_address {
    margin-top: 65px;
    text-align: right;
}
  .product-description-contents {
    font-size: 20px;
    }
  .newsLetter_section {
    padding-left: 35px;
}
  .collection ul#product-grid {
    row-gap: 8px;
}
  }
.footer_address{
  color:#000;
  font-weight:300;
  line-height:26px;
}
button#Subscribe {
    max-width: 153px;
    width: 153px;
    padding: 16px 25px;
    min-width: 161px;
}
.newsletter-form__field-wrapper .field:after {
    display: none;
}
a.link.list-social__link svg {
    height: 30px;
    width: 30px;
    margin: 0 10px 15px 0;
}
.product-description-contents{
  line-height: 1.4;
    font-weight: 300;
}
.footer-block__heading {
    text-align: left;
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .footer-block.grid__item:nth-child(2), .footer-block.grid__item:nth-child(1) {
    width: calc(50% - var(--grid-desktop-horizontal-spacing) * 3 / 4);
    max-width: calc(50% - var(--grid-desktop-horizontal-spacing) * 3 / 4);
}
.footer-block.grid__item:nth-child(2), .footer-block.grid__item:nth-child(3) {
    width: calc(50% - var(--grid-desktop-horizontal-spacing) * 3 / 4);
    max-width: calc(50% - var(--grid-desktop-horizontal-spacing) * 3 / 4);
}
  .footer-block.grid__item:nth-child(4) {
    width: calc(50% - var(--grid-desktop-horizontal-spacing) * 3 / 4);
    max-width: calc(50% - var(--grid-desktop-horizontal-spacing) * 3 / 4)
}
}
@media(max-width:769px){
  .footer-block__image-wrapper img{
   margin: 0 auto;
    object-fit: contain;
  }
  .footer .footer-block__image-wrapper{
    margin-bottom:2.5rem;
  }
  .social_footer_wrap.grid__item.large-up-hide {
    margin-top: 2.5rem;
}
  .footer .footer__list-social.list-social:only-child{
    justify-content:center;
  }
.varientWrapper {
    display: flex;
    align-items: center;
}
  .varientWrapper .form__label {
    font-size: 14px;
    margin: 0 10px 0 0;
}
  .product-form__input--pill .varientWrapper  input[type=radio]+label{
    font-size:14px;
        padding: 5px 15px;
  }
  .product-single-page .section-header.text-center h2 {
    font-size: 20px;
    margin-bottom: 50px;
}
.product__info-block {
    margin-bottom: 0 !important;
    margin-top: -5px !important;
}
}
.button{
  overflow:hidden;
}
.button:before{
      top: 0;
    left: 150%;
    width: 200%;
    height: 100%;
    transform: skew(-20deg);
    background-image: linear-gradient(90deg, transparent, hsla(0, 0%, 100%, .25), transparent);
}
.button:hover{
        background: rgba(var(--color-button),0.9);
    transition-delay: .25s;
  color: #fff;
}
.button:hover:before{
  animation: shine .75s cubic-bezier(.01,.56,1,1);
}
.button:after{
  
}
.header__menu-item:hover {
    color: #6f6d6d;
}
.costom_rich-text .inline-richtext.h2 {
    font-size: 18px;
}
.costom_rich-text .inline-richtext.h2:nth-child(2) {
    font-size: 32px;
}
.footer__follow-on-shop{
  display:none;
}
.minusIcon {
    display: none;
}
details[open] summary .plusIcon{
  display:none;
}
details[open] summary .minusIcon{
  display:block;
  height:15px;
  width:16px;
}
.accordion details[open] .accordion__content {
    height: max-content; 
    visibility: visible;
    transform: translate(0);
}
.accordion details .accordion__content {
    visibility: hidden;
    height: 0;
    overflow: hidden;
    transform: translate(0px, 40px);
    transition: 0.3s ease-in-out all;
}
.custom-faq .collapsible-content__heading {
    letter-spacing: 0;
    margin-bottom: 20px;
}
.custom-faq .collapsible-content__heading.h2 {
    font-size: 24px;
}
.custom-faq  .accordion:nth-child(1) {
    border-top: 0.1rem solid rgba(var(--color-foreground), .08);
}
 .rich-text__wrapper .rich-text__heading:nth-child(2) {
    margin-bottom: 30px;
}
.custom-faq footer.footer{
  margin-top:40px;
}
.custom-our-mission .rich-text:not(.rich-text--full-width) .rich-text__wrapper{
  max-width:750px;
}
.product-single-page .metafield-rich_text_field {
    font-size: 17.6px;
    margin-bottom: 1.5rem;
    line-height: 24px;
      color: #000;
  font-weight:300;
      font-family: Avenir-Roman, var(--font-heading-family);
  
  
}
.product-single-page .product__info-container .price--on-sale .price-item--regular{
      font-size: 24px;
line-height: 140%;
  letter-spacing: -1px;
}
.product-single-page span.price-item.price-item--sale.price-item--last {
    margin-top: 8px;
    font-size: 18px;
    font-weight: 400;
    color: #1c1d1d;
    letter-spacing: -1px;
}
.product-single-page  span.badge.price__badge-sale {
    white-space: nowrap;
    border-radius: 35px;
    font-size: 14px;
    font-weight: 700;
    line-height: 25px;
    padding: 6px 15px;
    border: 0;
    letter-spacing: 0;
    width: unset;
    min-width: unset;
}
.product-single-page .metafield-rich_text_field ul li:after {
    content: "\2713";
    height: 18px;
    width: 18px;
    display: block;
    position: absolute;
    left: 0;
    top: 3px;
    background-size: contain;
    background-repeat: no-repeat;
    color: rgba(var(--color-button));
}
.product-single-page  .metafield-rich_text_field ul li {
    list-style: none;
    padding: 0;
    margin: 16px 0;
        padding: 0 0 0 20px;
    position: relative;
      font-size: 16px;
}
.product-single-page .metafield-rich_text_field ul {
    padding-left: 0;
    margin-bottom: 0;
    margin-top: -10px;
}
.priceBox {
    margin-top: 0.5rem;
}
.texticon-box {
    display: flex;
    gap: 20px;
    font-size: 17px;
}
.texticon-box svg g polyline {
    stroke: rgba(var(--color-button), var(--alpha-button-background));
}
@media(min-width:769px){
 .custom-our-mission .rich-text__heading.h1 {
    font-size: 40px;
} 
  .texticon-box p {
    font-size: 16px;
}
}
@media(max-width:768px){
  .costom_rich-text .inline-richtext.h2:nth-child(2){
    font-size:24px;
  }
  .rich-text__wrapper{
    width:100% !important;
  }
  .product_features_wrap{
    display:none;
  }
  .product-single-page span.badge.price__badge-sale{
    width:95px;
    max-width:95px;
        margin-top: 0;
  }
}